<% include partials/header %>
	<h1>ADD CUSTOMERS</h1>
	<% if(errors){ %>
	<% errors.forEach(function(error){ %>
	<li><%= error.msg %></li>
	<% }) } %>
	<form method="POST" action="users/add">
		<label>First Name:</label><br>
		<input type="text" name="first_name"><br>
		<label>Last Name:</label><br>
		<input type="text" name="last_name"><br>
		<label>Age:</label><br>
		<input type="text" name="age"><br><br>
		<input type="submit" value="Submit">Submit</button>
	</form>
	<h1><%= title %></h1>
	<ul>
	<% users.forEach(function(user){ %>
	<li><%= user.first_name %> <%= user.last_name %> - <a href="#" class="deleteUser" data-id ="<%= user._id %>">DELETE</a></li>
	<% }) %>
	</ul>
<% include partials/footer %>